
/* ---------------------------------------product _images---------------------------------------------------*/
.product_wrapper{
    padding: 2% 8%;
    width: calc(100% -16%);
    display: flex;
    align-items: center;
    margin-top: 5%;
}
.product_details{
    margin-left: 20%;
}
.product_img{
    width: 30%;
    box-sizing: border-box;
    align-self: flex-start;
    padding-right: 50px;
}
#product-preview{
    width: 100%;
    height: 400px;
}
#product-preview:hover{
    transform: scale(1.5);
    transition: 0.3s; 
}

#product_tital {
    font-size: 26px;
    font-weight: 500;
    margin: 0;
}
#product_brand {
    font-weight: 300;
    color: black;
    opacity: 0.6;
    margin: 0;
    font-size: 16px;
    margin-top: 8px;
}
#product-price{
    max-width: 500px;
    font-size: 24px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 600;
    color: #009688;
    margin: 0;
    display: inline-block;
}
.section-heading{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;
}
.section-heading-dis{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;
}
.section-heading-privew{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 36px;
    font-weight: 400;
}
#description{
    max-width: 700px;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
}
#addtocart{
    background-color: #009688;
    font-size: 18px;
    border: 0;
    cursor: pointer;
    outline: none;
    padding: 18px 36px;
    border-radius: 6px;
    margin-top: 36px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    color: white;
    transition: transform 200ms;
}
#product-images > img{
    width: 75px;
    margin: 0 8px;
    cursor: pointer;
    border-radius: 5px;
    padding: 4px;
}
.active-img{
    border: 2px solid #009688;
    box-sizing: content-box;
}

/* ---------------------------------------Footer_section--------------------------------------------------- */

footer{
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    background-color: #1c1b1e;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}
.footer-heading {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    color: white;
    opacity: 0.9;
    letter-spacing: 1px;
}
.footer-link {
    text-decoration: none;
    color: white;
    display: block;
    margin-top: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.8;
}
footer > div {
    display: block;
    padding-left: 60px;
    padding-right: 60px;
}

footer > div:first-of-type {
    padding-left: 0;
}
main{
    width: 100%;
    min-height: 80vh;
    box-sizing: border-box;
    margin-top: 100px;
    padding-bottom: 8%;
}


/* //////////////////////////--------------------------------- */
.slick-dots{
    display: inline;
}



@media screen and (max-width: 450px){

    #product-images > img{
        width: 75px;
        margin: 0 8px;
        cursor: pointer;
        border-radius: 5px;
        padding: 4px;
    }
    #product-preview{
        height: 330px;
        width: 290px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    #product_tital {
        font-size: 20px;
        font-weight: 550;
        text-align: left;
        margin-left: 2%;
        margin-top: 2%;
    }
    #product_brand {
        font-weight: 300;
        color: black;
        opacity: 0.6;
        font-size: 18px;
        text-align: left;
        margin-left: 2%;
    }
    #product-price{
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 1.3;
        font-weight: 600;
        color: #009688;
        display: inline-block;
        margin-bottom: 0;
    }
    .section-heading{
        font-size: 16px;
        text-align: left;
        margin-left: 2%;
    }
    .section-heading-dis{
        font-size: 16px;
        text-align: left;
        margin-left: 2%;
        margin-bottom: 0;
    }
    #description{
        font-size: 16px;
        text-align: left;
        margin-left: 2%;
        letter-spacing: 1px;
        line-height: 1.3;
        color: rgba(0, 0, 0, 0.6);
        margin-bottom: 10px;
    }
    .section-heading-privew{
        font-size: 16px;
        text-align: left;
        margin-left: 2%;
        margin-bottom: 10px;
    }
    
    #product-images > img{
        width: 75px;
        margin: 0 8px;
        cursor: pointer;
        border-radius: 5px;
        padding: 4px;
    }
    .active-img{
        border: 2px solid #009688;
    }    
    #product-preview:hover{
        transform: scale(1.05);
        transition: 0.3s; 
    }
    #addtocart{
        background-color: #009688;
        font-size: 18px;
        border: 0;
        outline: none;
        padding: 18px 36px;
        border-radius: 6px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
        color: white;
        transition: transform 200ms;
        margin-top: 5%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}


@media screen and (max-width: 360px){
    #product-preview{
        height: 300px;
        width: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
    }
    .active-img{
        border: 2px solid #009688;
    }    
    #product-preview:hover{
        transform: scale(1.05);
        transition: 0.3s; 
    }
}