.product_grid{
    width: 100%;
    max-width: 19%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 8px;
    box-sizing: border-box;
    box-shadow: 0 2px 5px #ccc;

}
.product_img{
    width: 100%;
    height: 300px;
}
.product_grid:hover{
    transform: scale(1.04);
    transition: 0.3s;    
}
.product-meta {
    box-sizing: border-box;
    padding: 16px;
}
.product-meta > h4 {
    font-weight: 550;
    margin: 0;
    font-size: 16px;
}
.product-meta > h5 {
    font-weight: 500;
    opacity: 0.8;
    margin: 0;
    margin-top: 8px;
    font-size: 12px;
}
.product-meta > p {
    margin: 0;
    margin-top: 12px;
    font-weight: 600;
    color: #009688;
}
#cloting_section{
    padding: 0 8% 0;
    font-family: 'Ubuntu', sans-serif;
}
#clothing_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2% 5%;
}


.morebutton{
    height: 50px;
    width: 50px;
    background-color: #c5b7b7;
    position: relative;
    top: -330px;
    left: 95%;
    border-radius: 50%;
    cursor: pointer;
}
.fa-angle-double-right{
    margin-top: 5%;    
    margin-left: 12%;
    color: rgb(100, 100, 107);
}
.morebutton:hover{
    border-radius: 30%;
    transition: 0.3s;
}
/* ---------------------------------------sneekers_section--------------------------------------------------- */
#Sneeker_section{
    padding: 0 8% 0;
    font-family: 'Ubuntu', sans-serif;
   
}
#sneekerGrid_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2% 5%;
}
/* ---------------------------------------Watch_section--------------------------------------------------- */
#watches_section{
    padding: 0 8% 0;
    font-family: 'Ubuntu', sans-serif;
    
}
#watches_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2% 5%;
}
/* ---------------------------------------Sunglases_section--------------------------------------------------- */
#sunglasses_section{
    padding: 0 8% 0;
    font-family: 'Sansita Swashed', cursive;
   
}
#sunglasess_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2% 5%;
}

/* ---------------------------------------Sunglases_section--------------------------------------------------- */
#accessories_section1{
    padding: 0 8% 0;
    font-family: 'Sansita Swashed', cursive;
   
}
#accessories_grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 2% 5%;
}


